src/main/resources/wsdl/data_access.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DataAccessService" targetNamespace="http://wsdl.data.aidanns.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdl.data.aidanns.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xsd:schema xmlns:tns="http://wsdl.data.aidanns.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wsdl.data.aidanns.com/">
  <xsd:element name="getLatestIndex" type="tns:getLatestIndex"/>
  <xsd:complexType name="getLatestIndex">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="getLatestIndexResponse" type="tns:getLatestIndexResponse"/>
  <xsd:complexType name="getLatestIndexResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getData" type="tns:getData"/>
  <xsd:complexType name="getData">
    <xsd:sequence>
      <xsd:element name="index" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getDataResponse" type="tns:getDataResponse"/>
  <xsd:complexType name="getDataResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getData">
    <wsdl:part name="parameters" element="tns:getData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestIndex">
    <wsdl:part name="parameters" element="tns:getLatestIndex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="parameters" element="tns:getDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestIndexResponse">
    <wsdl:part name="parameters" element="tns:getLatestIndexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DataAccessServicePortType">
    <wsdl:operation name="getLatestIndex">
      <wsdl:input name="getLatestIndex" message="tns:getLatestIndex">
    </wsdl:input>
      <wsdl:output name="getLatestIndexResponse" message="tns:getLatestIndexResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input name="getData" message="tns:getData">
    </wsdl:input>
      <wsdl:output name="getDataResponse" message="tns:getDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataAccessServiceSoapBinding" type="tns:DataAccessServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLatestIndex">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLatestIndex">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLatestIndexResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataAccessService">
    <wsdl:port name="DataAccessServicePort" binding="tns:DataAccessServiceSoapBinding">
      <soap:address location="http://localhost:9090/DataAccessServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
